.main{
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.header{
  position: sticky;
  top:0;
  display: flex;
  align-items: center;
  height: var(--header-size);
  width: 100%;
  --header-font-size: 1.8rem;
  background-color: var(--header-color);
}

.logo{
  display: flex;
  justify-content: center;
  font-size: var(--header-font-size);
  flex: 3;
}

.logoLink{
  text-decoration: none;
  color: var(--logo-main-color);
  font-weight: 800;
  width: max-content;
}

.capitals{
  font-size: calc( var(--header-font-size) * 1.15 );
}

.lettersHighlight{
  color: var(--logo-sub-color);
}

.emptyCell{
  font-size: var(--header-font-size);
  font-weight: 400;
  flex: 10;
}

.title{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: var(--header-font-size);
  font-weight: 400;
  flex: 3;
  width: max-content;
}
