.wrapper{
  position: relative;
  display: flex;
  flex-direction: column;
  width: 80%;
  margin-bottom: 4rem;
  padding-bottom: 3rem;
  --module-border-radius: 6px;
  isolation: isolate;
}

.name{
  font-size: 2rem;
  padding-top: 6rem;
}

.frame{
  aspect-ratio: 16/9;
  width: 100%;
  border-top-right-radius: var(--module-border-radius);
  border-top-left-radius: var(--module-border-radius);
  overflow: hidden;
  outline: none;
  border: 0px;
  z-index: 1;
}

.fullscreenLink{
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: white;
  border-bottom-right-radius: var(--module-border-radius);
  border-bottom-left-radius: var(--module-border-radius);
  height: 3rem;
  background-color: var(--fullscreen-link-color);
  margin-bottom: 2rem;
}

.linkSpan{
  font-size: 1.2rem;
}

.description{
  font-size: 1.2rem;
  margin: 2rem 0 4rem 0;
  padding: 2rem 1.5rem 2rem 2rem;
  border: 1px solid var(--hr-color);
  border-radius: 4px;
  background: rgba(114, 114, 114, 0.5);
}

.separator{
  position: absolute;
  margin: auto;
  inset: 0;
  width: 40%;
  border-bottom: 1px solid var(--hr-color);
}

@media (width < 1080px){
  .wrapper{
    width: 90%;
  }
}